* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;

  font-family: monospace;

  background-image: url('./assets/images/bg.jpg');
  background-size: cover;
  background-position: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.circle {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  width: 200px;
  height: 200px;

  background-color: #262626;

  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
}

.circle::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto auto;
  border: 5px solid red;
  border-radius: 50%;
  border-color: red purple green yellow;
  width: calc(100% - 25px);
  height: calc(100% - 25px);

  animation: solidCircle 10s linear infinite;

  content: '';
}

.circle::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto auto;
  border: 2px dashed #fff;
  border-radius: 50%;
  width: calc(100% - 50px);
  height: calc(100% - 50px);

  transform: translate(-50%, -50%);
  animation: dashCircle 10s linear infinite;

  content: '';
}

.circle img {
  width: 100px;
  height: 100px;

  object-fit: contain;
}

.circle h2 {
  margin-bottom: 50px;
  border-bottom: 1px solid #fff;

  font-size: 18px;

  color: red;
}

@keyframes solidCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes dashCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
